In [51]:
import json
import pandas as pd
import polars as po

class History():
    def __init__(self, path):
        with open(path) as h:
            history = json.load(h)
        self.data = [
            {
               **{
                   k:d[k]
                   for k in d
                   if k != 'var'
               },
               **{
                   "position_x": d['var']['Position'][0],
                   "position_y": d['var']['Position'][1],
                   "position_z": d['var']['Position'][2],

                   "velocity_x": d['var']['Velocity'][0],
                   "velocity_y": d['var']['Velocity'][1],
                   "velocity_z": d['var']['Velocity'][2],
                   
                   "orientation_theta": d['var']['Orientation'][0],
                   "orientation_phi": d['var']['Orientation'][1],
                   
                   "angular_velocity_theta": d['var']['AngularVelocity'][0],
                   "angular_velocity_phi": d['var']['AngularVelocity'][1]
               } 
            }  
            for d in history
        ]
    def to_data_frame(self):
        return pd.DataFrame.from_records(self.data)

In [52]:
history = History(path="/home/luks/Projects/mol_sim/data/test.json")

In [ ]:
history.data

In [54]:
h = history.to_data_frame()

In [55]:
h[h['t'] != 0]

,t,id,mol_type,position_x,position_y,position_z,velocity_x,velocity_y,velocity_z,orientation_theta,orientation_phi,angular_velocity_theta,angular_velocity_phi
60000,1.0,0,CO,0.400464,1.914866,5.794700,0.857769,-0.299801,3.973056,0.468408,0.862747,0.561071,0.571987
60001,1.0,1,CO,0.932176,1.419988,5.445895,0.169443,-1.386923,4.275641,0.903031,0.905945,0.341305,0.825266
60002,1.0,2,CO,0.494112,1.108147,5.900804,0.579395,0.532454,5.057595,0.257117,0.423787,0.741147,0.016476
60003,1.0,3,CO,0.868299,0.325579,5.031028,0.649347,0.459484,2.427309,0.317722,0.865956,0.949135,0.336325
60004,1.0,4,CO,0.418716,1.059581,5.047569,0.559630,-1.093778,2.916081,0.776710,0.966531,0.869771,0.781810
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,1.0,59995,O2,0.678174,0.271600,5.327763,-0.013883,-0.638021,2.191435,0.303809,0.087937,0.616985,0.402254
119996,1.0,59996,O2,0.666958,1.543353,5.539115,0.948670,1.522977,5.135568,0.857487,0.810907,0.389635,0.384353
119997,1.0,59997,O2,0.069549,0.472409,5.567984,-0.862364,-1.368096,3.860663,0.297988,0.073742,0.263686,0.620323
119998,1.0,59998,O2,0.187144,0.134228,5.652618,-0.928798,-0.250613,4.365309,0.259415,0.808691,0.209492,0.587747
119999,1.0,59999,O2,0.906142,1.292583,5.476966,0.987988,0.121003,2.482459,0.932431,0.760855,0.407993,0.333838